[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "notes-site/themes/docdock"]
	path = notes-site/themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
